In [1]:
# ðŸ“Œ Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("Crude oil.csv")

In [9]:
# 0.1 Re-load (or continue with your df); parse date with explicit format
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', errors='coerce')

# 0.2 Check for any parse failures
print("Date parse errors (NaT):", df['Date'].isna().sum())

# 0.3 Sort ascending (oldest -> newest) and reset index
df = df.sort_values('Date').reset_index(drop=True)

# 0.4 Optional: rename column for convenience
df = df.rename(columns={'Close/Last': 'Close'})

# 0.5 Set the Date as index (very handy for time series operations)
df.set_index('Date', inplace=True)
df.head()

Date parse errors (NaT): 0

            Close    Volume   Open   High    Low
Date
2012-10-30  85.68       NaN  85.68  85.68  85.68
2012-10-31  86.24  192354.0  85.73  87.19  85.61
2012-11-01  87.09  185097.0  86.10  87.42  85.92
2012-11-02  84.86  273619.0  86.91  87.24  84.66
2012-11-05  85.65  185846.0  84.65  85.90  84.34

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2548 entries, 2012-10-30 to 2022-10-28
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2548 non-null   float64
 1   Volume  2517 non-null   float64
 2   Open    2548 non-null   float64
 3   High    2548 non-null   float64
 4   Low     2548 non-null   float64
dtypes: float64(5)
memory usage: 119.4 KB
None

In [11]:
print(df.isna().sum())

Close      0
Volume    31
Open       0
High       0
Low        0
dtype: int64

In [12]:
# 1.2 Look for duplicated dates (should be none)
print("duplicated index:", df.index.duplicated().sum())

duplicated index: 0